

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}
select,
input,
button {
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
select {
    min-width: 300px;
    margin: 0 0 25px;
    font-size: 17px;
    font-weight: 200;
    outline: none;
}
#back-time-container {
    display: flex;
    flex-direction: column;
}
.num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 25px;
}
input {
    width: 60px;
    outline: none;
}
